.about {
  @include list();
  display: flex;
  flex-wrap: wrap;
  gap: 25px 22px;

  @media #{$desktop} {
    gap: 20px;
  }

}

.about__card {
  flex-basis: 290px;
  flex-grow: 1;
  padding: 7px;
  background: linear-gradient(to bottom, $gradient2 0%, rgba($gradient2, 0.9) 38%, rgba($gradient1, 0.83) 100%);
  display: grid;
  grid-template-rows: auto 1fr auto;

  @media #{$netbook} {
    flex-basis: 300px;
    padding: 7px 15px;
  }

  @media #{$desktop} {
    flex-basis: 350px;
    flex-grow: 0;
  }
}

.about__title {
  @include margin-tb(20px);
  padding-top: 10px;
  font-weight: 500;
  color: $color-title;
  font-size: 1rem;
  letter-spacing: 0.4px;
}

.about__details {
  @include margin-tb(16px);
  line-height: 1.5;
}

.about__links-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding-bottom: 2px;
  margin-bottom: 0;
}

.about__link {
  text-decoration: none;
  color: $main-color;
  transition: color .3s ease;

  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background: #fff;
    transform-origin: left top;
    transform: scaleX(0);
    transition: transform .3s;
  }

  &:hover {
    color: #fff;

    &::after {
      transform: scaleX(1);
    }
  }

  &:focus {
    color: #fff;

    &::after {
      transform: scaleX(1);
    }
  }
}
