.button {
  color: #fff;
  background: $main-color;
  border-radius: 100px;
  padding: 18px 50px;
  font-weight: 500;
  font-size: 18px;
  border: none;
  cursor: pointer;
  transition: background .3s ease;

  &:hover {
    background: $accent-color;
  }

  &:focus-visible {
    background: $accent-color;
  }

  &:active {
    box-shadow: inset 0px 0px 5px 1px $accent-color;
    background: lighten($accent-color, 10%);
  }

  &:disabled {
    background: $form-border;
    cursor: default;
  }

  &--hidden {
    display: none;
  }
}

