.example {
  border-radius: 7px;
  padding: 20px 25px;

  @media #{$tablet} {
    padding: 30px 45px;
  }

  @media #{$netbook} {
    flex: 1 1 calc((100% - 20px) / 2);
    display: flex;
    flex-direction: column;
  }

  &--yellow {
    background: #fff2d9;
  }

  &--blue {
    background: #F3F1FA;
  }

  &--blue2 {
    background: rgba(51, 103, 153, .2);
  }

  &--cerin {
    background: rgba($gradient1, .2);
  }

  &--pink {
    background: $gradient2;
  }

  &--gaiszils {
    background: #d8ecff;
  }

  &--rolls {
    background: rgb(34 131 120 / 21%);
  }

  &--hidden {
    display: none;
  }
}

.example__title {
  @include margin-tb(10px);
  font-weight: 500;

  @media #{$tablet} {
    @include margin-tb(10px);
  }

  @media #{$desktop} {
    @include margin-tb(5px);
    padding-bottom: 5px;
  }
}

.example__list {
  @include list();
  @include margin-tb(20px);
  font-size: 1rem;
}

.example__list-item {
  margin-bottom: 1px;

  &:first-child {
    color: $main-color;
    font-weight: 500;
    margin-bottom: 3px;
  }
}

.example__link {

  @media #{$tablet} {
    text-align: right;
    width: fit-content;
    margin-left: auto;
    margin-top: auto;
  }
}

.example__img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
  display: block;
}

.example__description {
  margin-top: 0;
  margin-bottom: 3px;
  color: $main-color;
  font-weight: 500;

  grid-column: 1/-1;
}
