.examples__title {
  @include margin-tb(23px);
  color: $color-title;
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 1px;
}

.examples__gallery {
  margin-bottom: 30px;

  @media #{$netbook} {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }

}

.examples__example {
  margin-bottom: 20px;

  @media #{$netbook} {
    margin-bottom: 0;
  }

  @media #{$desktop} {
    max-width: calc(50% - 10px);
  }

}

.examples__more-button {
  margin: 30px auto 50px;
  display: block;

  @media #{$tablet} {
    margin-bottom: 70px;
  }
/*
  @media #{$netbook} {
    margin-bottom: 100px;
  } */
}
