 .logo {
  position: relative;
  border-radius: 50% 0 50% 50%;
  background-color: $main-color;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    z-index: 50;
    width: 60%;
    height: 60%;
    border-radius: 50% 0 50% 0%;
    background-color: $accent-color;
  }
}

.logo__text {
  position: relative;
  z-index: 100;
  padding-top: 2px;
  color: #fff;
  font-size: 26px;
  font-weight: 700;
  text-align: center;
}
