$main-color: #8643DC;
$accent-color: #FF59C1;
$gradient1: rgb(187, 133, 255);
$gradient2: rgb(255, 244, 251);
$color-title: #1B1C23;
$color-text: #47444E;
$form-border: #DAD2E3;
$nav-color: #7E7F86;

$breakpoint-tablet: 768px;
$breakpoint-netbook: 960px;
$breakpoint-desktop: 1200px;

$tablet: "(min-width: #{$breakpoint-tablet})";
$netbook: "(min-width: #{$breakpoint-netbook})";
$desktop: "(min-width: #{$breakpoint-desktop})";


